# PHP
alias artisan="php artisan"
alias pest="vendor/bin/pest"
alias phpunit="vendor/bin/phpunit"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias hostfile="sudo vi /etc/hosts"
alias sshconfig="vi ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.pub | pbcopy'

# PHP version switching
alias php73="phpv php@7.3"
alias php74="phpv php@7.4"
alias php80="phpv php@8.0"
alias php81="phpv php@8.1"
alias phpv73="phpv valet-php@7.3"
alias phpv74="phpv valet-php@7.4"
alias phpv80="phpv valet-php@8.0"
alias phpv81="phpv valet-php@8.1"

# Mac conveniences for Linux (not needed on macos)
# alias pbcopy='xclip -selection clipboard'
# alias pbpaste='xclip -selection clipboard -o'

# JavaScript
alias jest="./node_modules/.bin/jest"

# Git
alias nah='git reset --hard;git clean -df'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"
alias ll="ls -la"

# VSCode
alias vscode='open -a "/Applications/Visual Studio Code.app" "`pwd`"'

# Sublime
alias sub='open -a "/Applications/Sublime Text.app"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Scape webpage
alias scrape="scrapeUrl"

# Switch NPM
alias npmnpm="npm config set registry https://registry.npmjs.org"
